ul.deck{
  @extend .undo-list;
  display: block;
  > li {
    display: inline-block;
    margin : $padding;
    .card{
      padding: $padding;
      border: 1px solid rgba(0, 0, 0, 0.1);
      .name{
        padding-top: $padding;
      }
      .icon{
        display: block;
        margin: auto;
        @extend .thumbnail;
      }
    }
  }
}