#missions-home{
  color:white;
  text-align: center;
  margin: auto;

  #help-button{
    padding: $padding;
    font-size: 30px;
    $help_size: 55px;

    > .fa {
      color: $white_light;
      text-align: center;
    }
  }
  #mission-action{
    width: 100%;
    margin: $padding auto;
    padding: 0px $padding;
    max-width: $home_max_width;
    > button{
      width: 100%;
      opacity: 0.95;
    }
  }
}
