ul.missions
  li(ng-repeat='mission in missions.list')
    .planet(ng-bind='mission.planet.name')
    .vehicle(ng-bind='mission.vehicle.name')
    .overview {{mission.planet.distance}} megamiles in {{mission.planet.distance/mission.vehicle.speed}} days
    .cancel(ng-click='missions.remove($index)')
      .no-mobile.fa.fa-remove
      .mobile-only Delete