.content.title-text
  .lost.message
    h1 You Loose !
    h3 Falcone was not found on any of the selected planet.
  .won.message
    h1 You Won !
    h3 Falcone was found by a {{result.outcome.vehicle_name}} on {{result.outcome.planet_name}}.

  .restart
    button(ng-click="playAgain()") Play Again

  .h1.loader
    span Dispatching Missionaries &nbsp;
    span.fa.fa-circle-o-notch.fa-spin