.message
  ul.title-text
    li King Shan has received intelligence that Al Falcone is in hiding in one of these 6 planets - DonLon, Enchai, Jebing, Sapir, Lerbin & Pingasor.
    li However he has limited resources at his disposal & can send his army to only 4 of these planets.
    li Select planets and send missionaries to find Falcone.
button.skip(ng-click='ui.showHelp = false',fullscreen) Continue